# Just some nead things pandas does for you

In [7]:
import pandas as pd

## Trasposing a df with the attached columns and indices

In [8]:
df_to_transpose = pd.DataFrame([[1, 2],[3, 4]], index=["row1", "row2"], columns=["column1", "column2"])
df_to_transpose

      column1  column2
row1        1        2
row2        3        4

In [9]:
df_to_transpose.T

         row1  row2
column1     1     3
column2     2     4